@{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    ViewData["Title"] = "Store";
    ViewData["BodyClass"] = "lockscreen";
}


@model Bud2b.Modules.Common.Instagram.Instagram.RootObject

<div>
    <div class="col-md-9">
        <!-- Profile Image -->
        <div class="active tab-pane">
            <div class="box-body box-profile">
                @*<img class="profile-user-img img-responsive img-circle" src="" alt="User profile picture" />*@
                <img class="profile-user-img img-responsive img-circle" src="@Model.user.profile_pic_url" alt="@Model.user.full_name">
                <h3 class="profile-username text-center">@Model.user.username</h3>
                @*    <p class="text-muted text-center">Intagram: <a href="http://instagram.com/@Model.Username">@Model.Username</a></p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Followers</b> <a class="pull-right">@Model.Counts.FollowedBy</a>
                        </li>
                        <li class="list-group-item">
                            <b>Following</b> <a class="pull-right">@Model.Counts.Follows</a>
                        </li>
                        <li class="list-group-item">
                            <b>Friends</b> <a class="pull-right">13,287</a>
                        </li>
                    </ul>*@
                @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="active tab-pane" id="activity">

            <!-- Post -->
            <div class="post">
                <!-- /.user-block -->
                <div class="row margin-bottom">
                    @*<div class="col-sm-6">
                            <img class="img-responsive" src="~/Content/adminlte/img/photo1.jpg" alt="Photo">
                        </div>*@
                    <!-- /.col -->
                    <div id="products" class="row list-group">
                        @foreach (var media in Model.user.media.nodes)
                        {
                            <div class="item  col-xs-3 col-lg-3">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="@media.thumbnail_src" alt="" />
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="form-group">
                                                <fieldset>
                                                            
                                                    <div class="row">
                                                        <label for="Price" class="col-sm-4 control-label">Price:</label>
                                                        <div class="col-sm-4">
                                                            @Html.TextBox("Price", "login to see price", new { style = "width: 50px; height: 15px;" })
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.post -->
        </div>            

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
